
<div class="row">

    <nav class="col s12">
        <div class="nav-wrapper">
            <a class="brand-logo left">SimpleBlog</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/blog/me">Post</a></li>
                <li><a href="/blog/admin/">Admin</a></li>
                <li><a href="/blog/posts/{{user.profileID}}">View</a></li>
            </ul>
        </div>
    </nav>

</div>